# Topic Modeling on Minimally Processed Text
## Part 00:

In [1]:
import pickle

with open("Data/df.pkl", 'rb') as picklefile:
    df = pickle.load(picklefile)

In [2]:
df.head()

,_id,end,raw_text,series,start,url,airdate
0,598a2572fcd2e313d769f6fc,various,Screenplay by: GENE RODDENBERRY & HAROLD LIVIN...,The Motion Picture,various,https://scifi.media/wp-content/uploads/t/tmp.txt,1979-12-07
1,598a2572fcd2e313d769f6fd,1994,"STAR TREK: THE NEXT GENERATION ""The Child"" #40...",The Next Generation,1987,https://scifi.media/wp-content/uploads/t/127.txt,1988-09-20
2,598a2572fcd2e313d769f6fe,1994,"STAR TREK: THE NEXT GENERATION ""The Neutral Zo...",The Next Generation,1987,https://scifi.media/wp-content/uploads/t/126.txt,1988-03-18
3,598a2572fcd2e313d769f6ff,1994,"STAR TREK: THE NEXT GENERATION ""Conspiracy"" #4...",The Next Generation,1987,https://scifi.media/wp-content/uploads/t/125.txt,1988-03-08
4,598a2572fcd2e313d769f700,1994,"STAR TREK: THE NEXT GENERATION ""We'll Always H...",The Next Generation,1987,https://scifi.media/wp-content/uploads/t/124.txt,1988-02-22

In [3]:
%pylab inline
import numpy 
import matplotlib.pyplot as plt
import sklearn
# Import all of the scikit learn stuff
from __future__ import print_function
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.preprocessing import Normalizer
from sklearn import metrics
from sklearn.cluster import KMeans, MiniBatchKMeans
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [4]:
docs = df.raw_text

In [7]:
# min_df: min frequency of word in doc.
vectorizer = CountVectorizer(min_df = 1, stop_words = 'english')
dtm = vectorizer.fit_transform(docs) 
pd.DataFrame(dtm.toarray(), columns=vectorizer.get_feature_names()).head(10)

,00,000,0001,001,0015,002,003,004,005,01,...,zure,zwei,zweller,zydrolian,zygomatic,zylo,zymology,zymuth,zyree,zytchin
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.decomposition import NMF

nmf_model = NMF(2)

dtm_nmf = nmf_model.fit_transform(dtm)
dtm_nmf = Normalizer(copy=False).fit_transform(dtm_nmf)